:root {
    --color-black: #0C0C0C;
    --color-white: #CCCCCC;
    --color-blue: #0037DA;
    --color-cyan: #3A96DD;
    --color-green: #13A10E;
    --color-purple: #881798;
    --color-red: #C50F1F;
    --color-yellow: #C19C00;

    --color-primary: var(--color-cyan);
    /* --color-primary: var(--color-blue); */
    --color-secondary: var(--color-blue);
}