@font-face {
    font-family: 'FiraCode';
    src: url('../fonts/FiraCodeNerdFont-Regular.ttf');
}

body {
    align-content: center;
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    flex-direction: row;
    font-family: 'FiraCode';
    justify-content: center;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 850px) {
    header {
        flex-direction: column;
    }
}

header>* {
    margin: 1.2rem;
}


ul {
    list-style: none;
    padding-left: 0;
}

a {
    color: var(--color-white);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a::before {
    content: "🔗 ";
}

@media screen and (max-width: 850px) {
    a::before {
        content: "🔗";
    }
}

@keyframes cursor {
    0% {
        content: " ";
    }

    100% {
        content: var(--cursor-char);
    }
}