.terminal-window {
    padding: 5vh 0vh;
    width: 80vw;
    max-width: 800px;
}

header>.icon {
    flex-basis: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon>img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

header>.info {
    flex-basis: 60%;
}

.info>.user {
    width: auto;
    font-weight: bold;
}

.info>.user>span:nth-child(1) {
    color: var(--color-yellow);
}

.info>.user>span:nth-child(2) {
    color: var(--color-red);
}

.info>.user>span:nth-child(3) {
    color: var(--color-blue);
}

.socials {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 850px) {
    .socials {
        grid-template-columns: repeat(2, 1fr);

    }
}

.socials>*::before {
    content: "* ";
}

.response {
    margin: 0;
}

/* NERDFETCH info */

.info {
    font-size: large;
}

.stats>li {
    padding: .2rem 0rem;
}

.stats>li>span {
    color: var(--color-purple);
}

.colors {
    display: inline-flex;
}

.colors>li {
    /* Force the characters to overlap, prevents gaps. */
    letter-spacing: -1px;
    color: var(--color-red);
}

.colors>li:nth-child(2) {
    color: var(--color-green);
}

.colors>li:nth-child(3) {
    color: var(--color-yellow);
}

.colors>li:nth-child(4) {
    color: var(--color-blue);
}

.colors>li:nth-child(5) {
    color: var(--color-purple);
}

.colors>li:nth-child(6) {
    color: var(--color-cyan);
}

.colors>li:nth-child(7) {
    color: var(--color-white);
}

.cursor::after {
    color: var(--color-white);
    content: var(--cursor-char);
    animation: cursor 1s infinite;
}

/* Ls command */
.ls>*::before {
    content: "📃 -r-- ";
}

.ls>.dir::before {
    content: "📁 dr-- ";
}