:root {
    --cursor-char: "█";
}

.status {
    margin: 0;
}

.status.ok::before {
    content: "[  OK  ] ";
    color: var(--color-green);
}

.status.warn::before {
    content: "[  WRN  ] ";
    color: var(--color-yellow);
}

.status.error::before {
    content: "[  ERR  ] ";
    color: var(--color-red);
}

.prompt {
    font-size: 1rem;
    font-weight: normal;
}

.prompt::before {
    content: "guest@portfoli.os:~/$ ";
    /* font-size: large; */
    background: linear-gradient(to right,
            var(--color-green) 0%,
            var(--color-green) 17ch,
            var(--color-white) 17ch,
            var(--color-white) 18ch,
            var(--color-blue) 18ch,
            var(--color-blue) 100%);
    background-clip: text;
    color: transparent;
}

@media screen and (max-width: 850px) {
    .prompt::before {
        content: "guest:~/$ ";
        background: linear-gradient(to right,
                var(--color-green) 0%,
                var(--color-green) 5ch,
                var(--color-white) 5ch,
                var(--color-white) 6ch,
                var(--color-blue) 6ch,
                var(--color-blue) 100%);
        background-clip: text;

    }
}